body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(35, 35, 36);
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 10px;
  width: auto;
  background-color: rgb(35, 35, 36);
  border-radius: 2%;
  font-family: 'Ubuntu', sans-serif;
  font-size: larger;
  color: white;
  border: 1.5px solid rgb(68, 214, 44);
  border-radius: 2.5%;
  box-shadow: 0 4px 8px 0 rgba(68, 214, 44, 0.2),
    0 6px 20px 0 rgba(68, 214, 44, 0.19);
}

table#calculatorBody {
  margin: 0 auto;
  width: 300px;
  height: 500px;
  table-layout: fixed;
  cursor: pointer;
}

td {
  text-align: center;
  border: 1px solid rgb(68, 214, 44);
  border-radius: 2.5%;
  overflow: hidden;
  white-space: nowrap;
}

td.screen {
  transition: all 0.1s;
  opacity: 1;
  cursor: default;
  background-color: rgb(24, 24, 27);
  margin: 5px;
}

td#calculations-screen {
  padding-left: 3%;
  padding-right: 3%;
  text-align: left;
}

td.calculator-button {
  width: 25%;
  margin: 5px;
}

.calculator-button:hover {
  background-color: rgb(56, 136, 43);
  color: aqua;
  transition: all, 0.2s ease;
}
