body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(175, 195, 209);
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: auto;
  background-color: rgb(105, 152, 171);
  border-radius: 2%;
  font-family: 'Ubuntu', sans-serif;
  font-size: larger;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#calculatorBody {
  margin: 0 auto;
  width: 300px;
  height: 500px;
  border: 1.5px solid black;
  border-radius: 2%;
}

td {
  text-align: center;
  border: 1px solid black;
  border-radius: 5%;
}

td.screen {
  background-color: rgb(139, 169, 182);
}

td#calculations-screen {
  padding-right: 10%;
  text-align: right;
}

td.calculator-button {
  width: 25%;
  cursor: pointer;
}

td.number-button {
  background-color: rgb(85, 131, 149);
}
.calculator-button:hover {
  background-color: rgb(44, 71, 83);
  transition: all, 0.2s ease;
}
